body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#navigate-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#navigate-button:hover {
    background-color: #0056b3;
}

.sidebar {
    position: absolute;
    right: -300px;
    top: 0;
    width: 100vh;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s;
    z-index: 1000;
}

.sidebar.show {
    right: 0;
}

.sidebar-content {
    top: 50px;
    padding: 20px;
    left: auto;
    overflow-y: auto;
    max-height: calc(100% - 50px); /* Adjust as needed for header/footer space */
    box-sizing: border-box;
}

.sidebar-content strong {
    display: block;
    left: auto;
    margin-bottom: 10px;
    color: #333;
}

.sidebar-content button {
    margin-top: 20px;
}
