body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#info-box {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}