/* Styles généraux */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background 0.3s, color 0.3s;
}

#map {
    height: 100vh;
}

/* Panneau latéral */
.sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s;
    z-index: 1000;
    padding: 20px;
}

.sidebar.show {
    right: 0;
}

#close-sidebar {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Boutons interactifs */
.leaflet-control-custom {
    background: white;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}

/* Mode sombre */
.dark-mode {
    background: #1e1e1e;
    color: white;
}

.dark-mode .sidebar {
    background: #333;
    color: white;
}

/* Style du bouton "Y aller" */
#navigate-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

#navigate-button:hover {
    background-color: #0056b3;
}
